<ActionBar class="action-bar">
  <Label automationText="heading" class="action-bar-title" text="Login"></Label>
</ActionBar>

<GridLayout class="page">
  <StackLayout>
    <StackLayout padding="10">
      <Label text="Email"></Label>
      <TextField automationText="email"
                 hint="Login Email"
                 class="input"
                 autocapitalizationType="none"
                 [(ngModel)]="email">
      </TextField>
      <Label text="Password"></Label>

      <TextField automationText="password"
                 class="input"
                 hint="Login Password"
                 secure="true"
                 [(ngModel)]="password">
      </TextField>
    </StackLayout>

    <Button row="0" automationText="btnLogin" text="Login" (tap)='login()' padding="10"></Button>
    <Button row="1" automationText="btnSignUp" text="Sign Up" (tap)='navSignUp()' padding="10"></Button>
  </StackLayout>
</GridLayout>
