<ActionBar class="action-bar">
  <Label automationText="headingHome" class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
  <StackLayout>
    <Button automationText="btnManual" text="Manual" (tap)='navManual()' padding="10"></Button>
    <Button automationText="btnFeedback" text="Feedback" (tap)='navFeedback()' padding="10"></Button>
    <Button automationText="btnSettings" text="Settings" (tap)='navSettings()' padding="10"></Button>
    <Button automationText="btnLogin" text="Login" (tap)='navLogin()' padding="10"></Button>

    <Label [text]="welcome"></Label>

  </StackLayout>
</GridLayout>
